* {
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    box-sizing: border-box;
}

iframe {
    border-radius: 10px;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    color: #131111;
    background: rgb(104, 75, 75);
    background-image:url(.././Images/show.jpg);
    background-position-y: 50%;
    background-attachment: fixed;
    text-align: center;
    background-blend-mode: screen;
    
}

img {
    margin-top: 2rem;
    border-radius: 50%;
    height: 100px;
    width: auto;
    border: #382929 solid 2px;
}



header {
    text-align: right;
    margin-right: 5%;
    background: transparent;
    font-size: 1.5em;
    margin-top: 3.75%;
    margin-bottom: 10%;
    
        h1 {
            font-family: 'Arizonia', cursive;
            color: rgb(56, 41, 41);
            text-shadow: 0px 1px 1px rgba(106,117,145,0.63);
            font-size: 3.5em;
        }

        ul {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-content: center;
           
           

                li {
                    font-size: 0.85em;
                    list-style: none;
                    margin: 0 1rem 0 1rem;
                    
                        a {
                            color: #131111;
                           
                        }
                        
                        i {
                            font-size: 1.25em;
                        
                        }

                }
        }
}

/*SVG Related CSS below this comment*/

svg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    max-width: 100%;
    max-height: 600px;
}


.st0 {
    fill:rgb(247, 216, 216);
}
    

/*SVG Related CSS above this comment*/

main {
    width: 99%;
    height: auto;
    background: transparent;
    margin-left: auto;
    margin-right: auto;

    // border: black dotted 1px;
}

/* CSS concerning the Article links at the bottom of the page begins here*/



main .sub-title {
    font-family: 'Arizonia', cursive;
    color: white;
    text-shadow: 0px 1px 1px rgba(106,117,145,0.63);
    font-size: 2.5em;
    font-weight: 500;
    background: rgb(56, 41, 41);
    width: 10em;
    margin: 0 auto 0 auto;
    border-radius: 10px;
    -webkit-box-shadow: 0px 13px 11px -12px rgba(58,61,69,1);
    -moz-box-shadow: 0px 13px 11px -12px rgba(58,61,69,1);
    box-shadow: 0px 13px 11px -12px rgba(58,61,69,1);
    animation-name: sub-title;
    animation-iteration-count: 2;
    animation-duration: .5s;
    animation-timing-function: ease-in-out;
    animation-delay:0;
    animation-direction: alternate;
}

@keyframes sub-title {
    from {transform:scale(1)}
    to {transform:scale(1.2)}
    
}

.main-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-column-gap: 1em;
    grid-row-gap: 3rem;
    width: 95%;
    margin: 5% auto 5% auto;
}

article {
    text-align: center;
    background: rgb(247, 216, 216);
    height: auto;
    width: 100%;
    max-width: 1000px;
    border-radius: 10px;
    margin: 0 auto 0 auto;
    -webkit-box-shadow: 0px 13px 11px -12px rgba(58,61,69,1);
    -moz-box-shadow: 0px 13px 11px -12px rgba(58,61,69,1);
    box-shadow: 0px 13px 11px -12px rgba(58,61,69,1);

   

    #article_1 {
        grid-column: 1/2;
        grid-row: 1/2;
        height: auto;
    }

    #article_2 {
        grid-column: 1/2;
        grid-row: 2/3;
        height: auto;
    }

    #article_3 {
        grid-column: 1/2;
        grid-row: 3/4;
        height: auto;
    }

    .color-bar-small {
        height: 5px;
        width: 95%;
        margin: 0 auto 1.5rem auto;
        background:  rgb(56, 41, 41);

    }

    .paragraph-container {
        background: #F8F8F8;
        margin: 1rem auto 1.5rem auto;
        padding: 0.25rem;
        width: 90%;
        border-radius: 10px;
        -webkit-box-shadow: 0px 13px 11px -12px rgba(58,61,69,1);
        -moz-box-shadow: 0px 13px 11px -12px rgba(58,61,69,1);
        box-shadow: 0px 13px 11px -12px rgba(58,61,69,1);
    }
    
    p {
        line-height: 1.5;
        font-size: 1rem;
        margin-bottom: 1.5rem;
        padding: 0 2rem 0 2rem;
        color: rgb(56, 41, 41);
       
    }
}

.color-bar {
    height: 30px;
    width: 100%;
    background: rgb(56, 41, 41);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

h2 {
    font-size: 1.75rem;
    color: rgb(56, 41, 41);
    text-shadow: 0px 1px 1px rgba(106,117,145,0.63);
   
}



/* CSS concerning the Article links at the bottom of the page ends here*/

/*Media Queries Start Here*/
    /*Tablet View-Media Query*/

@media only screen and (max-width: 920px) {

    header {
        text-align: right;
        margin-right: 5%;
        background: transparent;
        font-size: 1.5em;
        margin-top: 3.75%;
        margin-bottom: 15%;
        
            h1 {
                font-family: 'Arizonia', cursive;
                color: rgb(56, 41, 41);
                text-shadow: 0px 1px 1px rgba(106,117,145,0.63);
                font-size: 2.25em;
            }
    
            ul {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-content: center;
               
               
    
                    li {
                        font-size: 0.57em;
                        list-style: none;
                        margin: 0 1rem 0 1rem;
                        
                            a {
                                color: #131111;
                               
                            }
                            
                            i {
                                font-size: 1.25em;
                            
                            }
                    }
            }
    }

/* CSS concerning the Article links at the bottom of the page begins here*/

.main-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-column-gap: 1em;
    width: 95%;
    margin: 5% auto 5% auto;
}

article {
    text-align: center;
    background: rgb(247, 216, 216);
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
    margin: 0 auto 3rem auto;
    -webkit-box-shadow: 0px 13px 11px -12px rgba(58,61,69,1);
    -moz-box-shadow: 0px 13px 11px -12px rgba(58,61,69,1);
    box-shadow: 0px 13px 11px -12px rgba(58,61,69,1);

   

    #article_1 {
        grid-column: 1/2;
        grid-row: 1/2;
        height: auto;
    }

    #article_2 {
        grid-column: 1/2;
        grid-row: 2/3;
        height: auto;
    }

    #article_3 {
        grid-column: 1/2;
        grid-row: 3/4;
        height: auto;
    }
    
    p {
        line-height: 1.5;
        font-size: 1rem;
        margin-bottom: 1.5rem;
        padding: 0 1rem 0 1rem;
        color: rgb(56, 41, 41);
    }
}
}


   /*Mobile Phone View-Media Query*/

   @media only screen and (max-width: 650px) {

    /*SVG Related CSS below this comment*/

svg {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    max-width: 100%;
    max-height: 600px;
}


.st0 {
    fill:rgb(247, 216, 216);
}
    

/*SVG Related CSS above this comment*/

    header {
        text-align: center;
        margin-right: 0%;
        background: transparent;
        font-size: 1em;
        margin-top: 0%;
        margin-bottom: 15%;
        background:rgb(247, 216, 216);
        text-align: center;
        width: 100%;
        
            h1 {
                font-family: 'Arizonia', cursive;
                color: rgb(56, 41, 41);
                text-shadow: 0px 1px 1px rgba(106,117,145,0.63);
                font-size: 2.5em;
                margin-left: auto;
                margin-right: auto;
            }
    
            ul {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-content: space-between;
                justify-content: center;
                align-items: center;
                margin-top: 0rem;
                margin-left: auto;
                margin-right: auto;
                background: rgb(56, 41, 41);
               
               
    
                    li {
                        font-size: 0.7em;
                        list-style: none;
                        margin: 0rem 1rem 0 1rem;
                        text-align: center;
                        padding-top: 1rem;
                        padding-bottom: 1rem;
                        
                        a:hover{
                            color: rgb(247, 216, 216);
                            transform:scale(1.5);                  
                        }
                    
                            a {
                                color: white;
                                text-shadow: 0px 1px 1px rgba(106,117,145,0.63);
                                text-align: center;
                               
                            }

                           
                            
                            i {
                                font-size: 1.25em;
                            
                            }
                    }
            }
    }

/* CSS concerning the Article links at the bottom of the page begins here*/

.main-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-column-gap: 1em;
    width: 95%;
    margin: 5% auto 5% auto;
}

article {
    text-align: center;
    background: rgb(247, 216, 216);
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
    margin: 10% auto 10% auto;
    -webkit-box-shadow: 0px 13px 11px -12px rgba(58,61,69,1);
    -moz-box-shadow: 0px 13px 11px -12px rgba(58,61,69,1);
    box-shadow: 0px 13px 11px -12px rgba(58,61,69,1);

   

    #article_1 {
        grid-column: 1/2;
        grid-row: 1/2;
        height: auto;
    }

    #article_2 {
        grid-column: 1/2;
        grid-row: 2/3;
        height: auto;

    #article_3 {
        grid-column: 1/2;
        grid-row: 3/4;
        height: auto;
    }
    
    p {
        line-height: 1.5;
        font-size: 1rem;
        margin-bottom: 1.5rem;
        padding: 0 1rem 0 1rem;
        color: rgb(56, 41, 41);
    }
}
}}