* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: #172529;
}

* a {
    text-decoration: none;
    font-style: bold;
    color: #758488;
}

* a:hover {
    transition-duration: 0.20s;
    transform: scale(1.15) translateY(-2px);
    text-shadow: 0px 1px 2px rgba(34,42,54,0.46);
    text-decoration: none;
    color: #172529;
}

#current-page {
    color: #172529;
}

body {
    height: 100%;
    width: 100%;
    background-color: rgb(248, 248, 248);
}

svg-container {
    height: 100%;
    width: 100%;
}

svg {
    position: absolute;
    top: 0;
    z-index: -2;
}

#Layer_1 {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    fill: #043c423a !important;
    z-index: -2;
    width: 100%;
}

#layer_2 {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    fill: #58abb183 !important;
    z-index: -2;
    width: 100%;
}

.st1 {
    position: absolute;
    z-index: -2;
    fill: #58abb183 !important;
}

.grid-container {
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    height: 100%;
    width: 80%;
    max-width: 800px;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto; 
}

.portrait-image {
    height: 200px;
    width: 190px;
    border-radius: 50%;
    margin-top: 1%;
    margin-right: auto;
    margin-left: auto;
    border: #5b9691 solid 2px;
}

nav {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    text-decoration: none;
    
}

nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 2% 0 2% 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border-top: #5b9691 solid 3px;
    border-bottom: #5b9691 solid 3px;
    align-content: space-between;
}

nav ul li{
    position: relative;
    z-index: 1;
    font-family: 'Montserrat', sans-serif; 
    font-weight: 700;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.75rem;
    padding-bottom: 0rem;
    background-color: transparent;
    text-decoration: none;
    margin-bottom: 0.75rem;
    margin-right: auto;
    margin-left: auto;
}

nav ul li:first-child{
    margin-right: 10%;
}


body nav ul a li:hover {
    transition-duration: 0.20s;
    transform: scale(1.15) translateY(-2px);
    text-shadow: 0px 1px 2px rgba(34,42,54,0.46);
    text-decoration: none;
    color: #172529;
}

body nav ul a li {
    text-decoration: none;
    font-style: bold;
    color: #758488;
}


.contact-me {
    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    grid-column: 1/2;
    grid-row: 2/3;
    padding: 2%;
   }

.contact-header {
    border-bottom: #5b9691 solid 3px;
    background: #58abb183;
}
.contact-me .contact {
    text-align: center;
    font-size: 2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #172529;
    background: transparent;
    padding: 1rem;
    font-weight: 700;
    letter-spacing: .25rem;
    text-shadow: 0px 1px 2px rgba(34,42,54,0.46);
}

.form-container {
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif; 
    font-weight: 500;
    line-height: 1.5;
    font-size: 1.25rem;
    text-align: center;
}

.form-container ul {
    list-style: none;
    margin: 3rem 3rem 3rem 3rem;
}

.form-container ul li {
    margin-top: 1.5rem;
}

form {
    display: flex;
    flex-direction: column;
    padding: 2rem 5rem 2rem 5rem;
    text-align: center;
    
}

.form-container form label {
    margin-bottom: .25rem;
}

.form-container form input {
    margin-bottom: 1.5rem;
    height: 3rem;
    font-size: 1rem;
    width: 100%;
    text-align: center;
}

.form-container form input:placeholder-shown {
    margin-left: auto;
    margin-right: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#subject {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
    text-align: center;
    padding: .5rem .15rem .25rem .15rem;
}

#submit-button {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
}

.submit {
    margin-top:1.5em;
    background-color:#043c423a;
    font-size: 1.5rem;
    font-weight: 700;
    height: 3rem;
    width: auto;
    cursor: pointer;
}


/* Footer Icons CSS Here */
.footer-icons {
    text-align: center;
    font-size: 2rem;
    border-top: #5b9691 solid 3px;
    padding: .5rem .75rem .5rem .75rem;
}

.footer-icons a i {
    color: #758488;
    margin: 0 2rem 0 2rem;
    padding: 1rem;
}

.footer-icons a i:hover {
    transition-duration: 0.20s;
    transform: scale(1.15) translateY(-1px);
    text-shadow: 0px 1px 2px rgba(34,42,54,0.46);
    font-weight: 1500;
    text-decoration: none;
    color: #172529;
}

.resume-bottom-bar {
    height: auto;
    width: 100%;
    background: #a6d0d4;
}

@keyframes header {
    from {transform:scale(1);
   }
   
   to {transform:scale(1.055)     translateY(-0.5rem);
       
    text-shadow: 0px 2px 4px rgba(34,42,54,0.46);; 
   } 
}

.contact {
   animation-name: header;
   animation-duration: 0.5s; 
   animation-iteration-count: 2;
   animation-direction: alternate;
   animation-delay: 0.0s;
}