* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: #172529;
}
html{
    height: 100%;
    width: 100%;
}

* a {
    text-decoration: none;
    font-style: bold;
    color: #333b3d;
}

* a:hover {
    transition-duration: 0.20s;
    transform: scale(1.15) translateY(-2px);
    text-shadow: 0px 1px 2px rgba(34,42,54,0.46);
    text-decoration: none;
    color: #172529;
}

button {
    color:#333b3d;
    margin-bottom: 1em;
    font-family: 'Montserrat', sans-serif; 
    font-weight: 700;
    font-style: normal;
    font-size: 1.25rem;
    border: solid black 2px;
    border-radius: 10px;
    padding: 0.5em;
    position: relative;
    overflow:hidden;
    background: none;
    z-index: 1; 
    cursor: pointer;
    transition:         0.025s ease-in;
    -o-transition:      0.025s ease-in;
    -ms-transition:     0.025s ease-in;
    -moz-transition:    0.025s ease-in;
    -webkit-transition: 0.025s ease-in;
    
  }
  
button {
    background-color: #f8f8f8;
  }
  
button:before {
    content: "";
    position: absolute;
    background: #58abb183;
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
    z-index: -1;
    -webkit-transition: top .15s ease-in;
    transition: top .15s ease-in;
}
  
button:hover:before {
    top: 0;
  }

#current-page {
    color: #172529;
}

body {
    height: 100%;
    width: 100%;
    background-color: rgb(248, 248, 248);
}

svg-container {
    height: 100%;
    width: 100%;
}

svg {
    position: absolute;
    top: 0;
    z-index: -2;
}

#Layer_1 {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    fill: #043c423a !important;
    z-index: -2;
    width: 100%;
}

#layer_2 {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    fill: #58abb183 !important;
    z-index: -2;
    width: 100%;
}

.st1 {
    fill: #58abb183 !important;
}

.grid-container {
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    height: 100%;
    width: 80%;
    max-width: 900px;
    min-width: 200px;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto; 
}

nav {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    text-decoration: none;
}

.portrait-image {
    height: 200px;
    width: 190px;
    border-radius: 50%;
    margin-top: 1%;
    margin-right: auto;
    margin-left: auto;
    border: #5b9691 solid 2px;
}

nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 2% 0 2% 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border-top: #5b9691 solid 3px;
    border-bottom: #5b9691 solid 3px;
    align-content: space-between;
    justify-content: center;
}

nav ul li{
    position: relative;
    z-index: 1;
    font-family: 'Montserrat', sans-serif; 
    font-weight: 700;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.75rem;
    padding-bottom: 0rem;
    background-color: transparent;
    text-decoration: none;
    margin-bottom: 0.75rem;
}

nav ul li:first-child{
    margin-right: 10%;
}


body nav ul a li:hover {
    transition-duration: 0.20s;
    transform: scale(1.15) translateY(-2px);
    text-shadow: 0px 1px 2px rgba(34,42,54,0.46);
    text-decoration: none;
    color: #172529;
}

body nav ul a li {
    text-decoration: none;
    font-style: bold;
    color: #667579;
}

.resume-me {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    grid-column: 1/2;
    grid-row: 2/3;
    padding: 2%;
   }

.resume-header {
    border-bottom: #5b9691 solid 3px;
    background: #58abb183
}
.resume-me .resume {
    text-align: center;
    font-size: 2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #172529;
    background: transparent;
    padding: 1rem;
    font-weight: 700;
    letter-spacing: .25rem;
    text-shadow: 0px 1px 2px rgba(34,42,54,0.46);
}

.paragraph-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background: #043c423a;
    padding: 2rem 4rem 1rem 4rem;
}

.paragraph-container .like-more {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: .10rem;
    text-align: center;
    line-height: 1.75;
    font-weight: 500;
    font-style: italic;
    font-size: .75rem;
}

.paragraph-container .skills {
    display: flex;
    flex-direction: row;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 1.5rem;
    text-align: left;
    line-height: 1.75;
    font-weight: 500;
    justify-content: center;
    align-content: space-between;
}

.paragraph-container .skills .column1 {
    margin-right: auto;
}

.paragraph-container .skills .column2 {
    margin-left: auto;
}

.paragraph-container .skills .skills-list li {
    list-style: none;
    margin-left:.25rem;
    margin-right:.25rem;
}

.paragraph-container .skills .skills-list li i {
    font-size: 1.5rem;
    margin-right: .75rem;
    color: #5b9691;
    text-shadow: 0px 1px 2px rgba(34,42,54,0.46);
}

.paragraph-container .skills .column2 li {
    margin-left: 2rem;
}

.footer-icons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    font-size: 2rem;
    border-top: #5b9691 solid 3px;
    padding: .5rem .75rem .5rem .75rem;
}

.footer-icons .footer-icon-div {
    display: flex;
    font-size: .75rem;
    flex-direction: column;
    text-align: center;
}

.footer-icons a i {
    color: #667579;
    font-size: 2rem;
    margin: 0 2rem 0 2rem;
    padding: 1rem;
}

.footer-icons a i:hover {
    transition-duration: 0.20s;
    transform: scale(1.15) translateY(-1px);
    text-shadow: 0px 1px 2px rgba(34,42,54,0.46);
    font-weight: 1500;
    text-decoration: none;
    color: #172529;
}

.resume-bottom-bar {
    height: auto;
    width: 100%;
    background: #a6d0d4;
}

.education {
    margin-top: 2rem;
}

.education_card {
    padding-top: 2rem;
    padding-bottom: 0rem;
}

.Education {
    width: 95%;
    padding: 1em;
    background: #f8f8f8;
    /* border-radius: 10px; */
}

.Education h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.paragraph-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.paragraph-container .Education {
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: .25rem;
    text-align: center;
    line-height: 1.75;
    font-weight: 500;
    justify-content: center;
    align-items: center;
}

.paragraph-container .Education p {
    font-size: 1.5rem;
    font-weight: 700;
}

.paragraph-container .Education p:nth-child(2) {
    font-size: 1rem;
    color: #2d4442;
}

.paragraph-container .Education p:nth-child(3) {
    font-size: 1rem;
    font-weight: 500;
    font-style: italic;
}

.jobDescription {
    text-align: left;
    background: #f8f8f8;
    padding: 2em;
    border-radius: 10px;
}

.jobDescription h4 {
    text-align: center;
}

.jobDescription li {
    margin-bottom: 1em;
}

.jobDescription li {
    margin-bottom: 1em;
}


/* Media Queries */
@media only screen and (max-width: 600px) {
    .svg {
        display: none;
    }
    
    .st1 {
        display: none;
    }
    
    .st0 {
        display: none;
    }
    
    .grid-container {
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
        margin-top: 5%;
        margin-left: auto;
        margin-right: auto;
        display: block;
        flex-direction: column;
        height: 100%;
        width: 95%;
    }

    .resume-me {
        margin-left: auto;
        margin-right: auto;
    }
    
    .form-container {
        display: flex;
        flex-direction: column;
        font-family: 'Montserrat', sans-serif; 
        font-weight: 500;
        line-height: 1.5;
        font-size: 1.25rem;
        text-align: center;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }
    
    .form-container ul {
        display: block;
        flex-direction: column;
        text-align: center;
        list-style: none;
        margin: 1rem;
    }
    
    .form-container ul li {
        display: block;
        margin-top:1.5rem;
        text-align: center;
    }

    .resume-header {
        width: 95%;
        margin-left: auto;
        margin-right: auto;

    }
    .paragraph-container {
        display: flex;
        flex-wrap: wrap;
        width: 95%;
        padding: 2rem;
        font-size: .75rem;
        margin-left: auto;
        margin-right: auto;
        
    }

    .resume-bottom-bar {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }

    .education_card {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }

    .Education h3 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size: 1.25rem;
    }

    .Education h4 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size: 1rem;
    }

    .work_card {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }

    .paragraph-container .Education {
        display: block;
        flex-direction: column;
        font-family: 'Montserrat', sans-serif;
        margin-bottom: .25rem;
        text-align: center;
        line-height: 1.75;
        font-weight: 500;
        justify-content: center;
        align-items: center;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .portrait-image {
        margin-top: 0.5rem;
        display: none;
    }

    }