* {
  margin: 0;
  padding: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  color: #172529;
}

#current-page {
  color: #172529;
}

body {
  height: 100%;
  width: 100%;
  background-color: #f8f8f8;
}

svg-container {
  height: 100%;
  width: 100%;
}

svg {
  position: absolute;
  top: 0;
}

#Layer_1 {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  fill: #043c423a !important;
  z-index: -2;
  width: 100%;
}

#layer_2 {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  fill: #58abb183 !important;
  z-index: -2;
  width: 100%;
}

.st1 {
  fill: #58abb183 !important;
}

.grid-container {
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  display: -ms-grid;
  display: grid;
  height: 100%;
  width: 80%;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-decoration: none;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 2% 0 2% 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border-top: #5b9691 solid 3px;
  border-bottom: #5b9691 solid 3px;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav ul li {
  position: relative;
  z-index: 1;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.75rem;
  padding-bottom: 0rem;
  background-color: transparent;
  text-decoration: none;
  margin-bottom: 0.75rem;
}

nav ul li:first-child {
  margin-right: 10%;
}

body nav ul a:hover {
  text-decoration: none;
}

body nav ul a li:hover {
  -webkit-transition-duration: 0.20s;
          transition-duration: 0.20s;
  -webkit-transform: scale(1.15) translateY(-2px);
          transform: scale(1.15) translateY(-2px);
  text-shadow: 0px 1px 2px rgba(34, 42, 54, 0.46);
  text-decoration: none;
  color: #172529;
}

body nav ul a li {
  text-decoration: none;
  font-style: bold;
  color: #667579;
}

h1 {
  width: 100%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 2rem;
  padding: 1em;
  color: #172529;
  font-weight: 700;
  letter-spacing: .25rem;
  text-shadow: 0px 1px 2px rgba(34, 42, 54, 0.46);
  margin: 0 auto 2em;
  text-align: center;
  border-bottom: #5b9691 solid 3px;
  background: #58abb183;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 95%;
  margin: 1em auto;
  background: transparent;
  border-bottom: #5b9691 solid 3px;
  font-weight: 500;
  line-height: 1.5;
  font-size: 1rem;
}

.portfolio-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: auto;
  width: 25%;
  max-width: 500px;
  min-width: 300px;
  margin: 2em;
  padding: 1em;
  background: #58abb183;
  -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.178);
          box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.178);
  text-align: center;
}

.portfolio-item a img {
  width: 200px;
  height: auto;
  margin: 1em auto;
}

@media only screen and (max-width: 600px) {
  .svg {
    display: none;
  }
  .st1 {
    display: none;
  }
  .st0 {
    display: none;
  }
}
/*# sourceMappingURL=image-slider.css.map */