* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: #172529;
}

#current-page {
    color: #172529;
}

body {
    height: 100%;
    width: 100%;
    background-color: rgb(248, 248, 248);
}

svg-container {
    height: 100%;
    width: 100%;
}

svg {
    position: absolute;
    top: 0;
}

#Layer_1 {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    fill: #043c423a !important;
    z-index: -2;
    width: 100%;
}

#layer_2 {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    fill: #58abb183 !important;
    z-index: -2;
    width: 100%;
}

.st1 {
    fill: #58abb183 !important;
}

.grid-container {
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    height: 100%;
    width: 80%;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto; 
}

.portrait-image {
    height: 200px;
    width: 190px;
    border-radius: 50%;
    margin-top: 1%;
    margin-right: auto;
    margin-left: auto;
    border: #5b9691 solid 2px;
}

nav {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    text-decoration: none;
    
}

nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 2% 0 2% 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border-top: #5b9691 solid 3px;
    border-bottom: #5b9691 solid 3px;
    align-content: space-between;
    justify-content: center;
}

nav ul li{
    position: relative;
    z-index: 1;
    font-family: 'Montserrat', sans-serif; 
    font-weight: 700;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.75rem;
    padding-bottom: 0rem;
    background-color: transparent;
    text-decoration: none;
    margin-bottom: 0.75rem;
    // margin-right: auto;
    // margin-left: auto;
}

nav ul li:first-child{
    margin-right: 10%;
}

body nav ul a:hover {
    text-decoration: none;
}


body nav ul a li:hover {
    transition-duration: 0.20s;
    transform: scale(1.15) translateY(-2px);
    text-shadow: 0px 1px 2px rgba(34,42,54,0.46);
    text-decoration: none;
    color: #172529;
}

body nav ul a li {
    text-decoration: none;
    font-style: bold;
    color: #667579;
}



.portfolio-page {
    font-size: 24px;
    font-weight: bold;
}

.carousel-item a {
    color: black;
}

.carousel-item a:hover {
    text-decoration: none;
    font-weight: 600;
}

img {
    width: auto;
    height: auto;
    border-radius: 25px;
    border: black solid 1px;
}

// img:hover {
//     transition-duration: 0.20s;
//     transform: scale(1.15) translateY(-2px);
//     -webkit-box-shadow: 0px 1px 2px rgba(34,42,54,0.46);
//     box-shadow: 0px 1px 2px rgba(34,42,54,0.46);
// }

.container {
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-top: 10rem;

    .items {
        display: flex;
        align-items: center;
        width: fit-content;
        animation: carouselAnim 60s infinite alternate linear;     

        .entry {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            position: relative;
            width: 300px;
            height: 300px;
            background: #043c423a;
            margin: 1em;
            padding:.5em;
            border-radius: 10px;
            -webkit-box-shadow: 0px 1px 2px rgba(34,42,54,0.46); 
            box-shadow: 0px 1px 2px rgba(34,42,54,0.46);

            p {
                text-align: center;
                padding: 0.25rem 1rem 2rem 1rem;
                color: black;
                font-family: 'Montserrat', sans-serif; 
                font-size: 1.25rem;
            }

            .quote {
                padding: 2rem 0 0 0;
                font-size: 0.75rem;
            }

            @keyframes carouselAnim {
                from {
                    transform: translate(0,0);
                }
                to {
                    transform:translate(calc(-100% + (5*300px)));
                }
            }

        }
    }

}

.footer-icons {
    text-align: center;
    font-size: 2rem;
    border-top: #5b9691 solid 3px;
    padding: .5rem .75rem .5rem .75rem;
}

.footer-icons a i {
    color: #667579;
    margin: 0 2rem 0 2rem;
    padding: 1rem;
}

.footer-icons a i:hover {
    transition-duration: 0.20s;
    transform: scale(1.15) translateY(-1px);
    text-shadow: 0px 1px 2px rgba(34,42,54,0.46);
    font-weight: 1500;
    text-decoration: none;
    color: #172529;
}

.resume-bottom-bar {
    position: absolute;
    bottom: 0;
    height: auto;
    width: 100%;
    background: #a6d0d4;
}

// @keyframes header {
//     from {transform:scale(1);
//    }
   
//    to {transform:scale(1.0025)     translateY(-0.5rem);
       
//     text-shadow: 0px 2px 4px rgba(34,42,54,0.46);; 
//    } 
// }

h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 550;
    text-align: center;
    width: 50%;
    margin: 3rem auto 0 auto;
    // animation-name: header;
    // animation-duration: 0.5s; 
    // animation-iteration-count: 2;
    // animation-direction: alternate;
    // animation-delay: 0.0s;
}

// Bootstrap Carousel

#carouselExampleCaptions {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    min-width: 350px;
}

.carousel {
    margin-top: 3rem;
    margin-bottom: 3rem;
    text-align: center;
    background-color: #A6D1D4;
}

.carousel-inner {
    width: 250%;
    max-width: 250px;
    margin: 0 auto 0 auto;
}

.carousel-item {
    padding: 2%;
    margin-top: 3rem;
    height: 500px;
            img {
            height: 250px;
            width: 250px;
        }

}

a.carousel-control-next {
    background: grey;
}

a.carousel-control-prev {
    background: grey;
}


/* Media Queries */
@media only screen and (max-width: 600px) {
    /* .navbar {
        display: flex;
    }
    
    .desktop-nav {
        display: none;
    } */
    
    .svg {
        display: none;
    }
    
    .st1 {
        display: none;
    }
    
    .st0 {
        display: none;
    }
    
    .grid-container {
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
        margin-top: 5%;
        margin-left: auto;
        margin-right: auto;
        display: block;
        flex-direction: column;
        height: 100%;
        width: 95%;
    }

    .resume-me {
        margin-left: auto;
        margin-right: auto;
    }
    
    .form-container {
        display: flex;
        flex-direction: column;
        font-family: 'Montserrat', sans-serif; 
        font-weight: 500;
        line-height: 1.5;
        font-size: 1.25rem;
        text-align: center;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }
    
    .form-container ul {
        display: block;
        flex-direction: column;
        text-align: center;
        list-style: none;
        margin: 1rem;
    }
    
    .form-container ul li {
        display: block;
        margin-top:1.5rem;
        text-align: center;
    }

    .resume-header {
        width: 95%;
        margin-left: auto;
        margin-right: auto;

    }
    .paragraph-container {
        display: flex;
        flex-wrap: wrap;
        width: 95%;
        padding: 2rem;
        font-size: .75rem;
        margin-left: auto;
        margin-right: auto;
        
    }

    .resume-bottom-bar {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }

    .education_card {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }

    .work_card {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }

    .paragraph-container .Education {
        display: block;
        flex-direction: column;
        font-family: 'Montserrat', sans-serif;
        margin-bottom: .25rem;
        text-align: center;
        line-height: 1.75;
        font-weight: 500;
        justify-content: center;
        align-items: center;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .portrait-image {
        margin-top: 0.5rem;
        display: none;
    }

    }