* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: #172529;
}
html{
    height: 100%;
    width: 100%;
}

* a {
    text-decoration: none;
    font-style: bold;
    color: #333b3d;
}

* a:hover {
    transition-duration: 0.20s;
    transform: scale(1.15) translateY(-2px);
    text-shadow: 0px 1px 2px rgba(34,42,54,0.46);
    text-decoration: none;
    color: #172529;
}

button {
    color:#333b3d;
    margin-bottom: 1em;
    font-family: 'Montserrat', sans-serif; 
    font-weight: 700;
    font-style: normal;
    font-size: 1.25rem;
    border: solid black 2px;
    border-radius: 10px;
    padding: 0.5em;
    position: relative;
    overflow:hidden;
    background: none;
    z-index: 1; 
    cursor: pointer;
    transition:         0.025s ease-in;
    -o-transition:      0.025s ease-in;
    -ms-transition:     0.025s ease-in;
    -moz-transition:    0.025s ease-in;
    -webkit-transition: 0.025s ease-in;
    
  }
  
button {
    background-color: #f8f8f8;
  }
  
button:before {
    content: "";
    position: absolute;
    background: #58abb183;
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
    z-index: -1;
    -webkit-transition: top .15s ease-in;
    transition: top .15s ease-in;
}
  
button:hover:before {
    top: 0;
  }

#current-page {
    color: #172529;
}

body {
    height: 100%;
    width: 100%;
    background-color: rgb(248, 248, 248);
}

svg-container {
    height: 100%;
    width: 100%;
}

svg {
    position: absolute;
    top: 0;
    z-index: -2;
}

#Layer_1 {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    fill: #043c423a !important;
    z-index: -2;
    width: 100%;
}

#layer_2 {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    fill: #58abb183 !important;
    z-index: -2;
    width: 100%;
}

.st1 {
    fill: #58abb183 !important;
}

.grid-container {
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    height: 100%;
    width: 80%;
    max-width: 900px;
    min-width: 200px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr; 
}

nav {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    text-decoration: none;
}

nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 2% 0 2% 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border-top: #5b9691 solid 3px;
    border-bottom: #5b9691 solid 3px;
    align-content: space-between;
    justify-content: center;
}

nav ul li{
    position: relative;
    z-index: 1;
    font-family: 'Montserrat', sans-serif; 
    font-weight: 700;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.75rem;
    padding-bottom: 0rem;
    background-color: transparent;
    text-decoration: none;
    margin-bottom: 0.75rem;
}

nav ul li:first-child{
    margin-right: 10%;
}


body nav ul a li:hover {
    transition-duration: 0.20s;
    transform: scale(1.15) translateY(-2px);
    text-shadow: 0px 1px 2px rgba(34,42,54,0.46);
    text-decoration: none;
    color: #172529;
}

body nav ul a li {
    text-decoration: none;
    font-style: bold;
    color: #667579;
}

/* Portfolio main CSS */

.portfolio-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    
}

.portfolio-item {
    width: 300px;
    height: auto;
    min-height: 400px;
    text-align: center;
    padding: 0em;
    margin: 2em 1.5em;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.178);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    background: #043c423a;
}

.portfolio-item h2 {
    width: 100%;
    margin: 0 auto 1em;
    background:  #58abb183;
    border-top: solid 3px #5b9691;
    border-bottom: solid 3px #5b9691;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.portfolio-item p {
    width: 80%;
    margin: 0 auto 1em;
}

.portfolio-item a {
    font-style: italic;
}

.port-image {
    height: 200px;
    width: auto;
    margin: 1em .25em;
    border-radius: 5px
}

/* Media Queries */
@media only screen and (max-width: 600px) {
         .navbar {
            display: flex;
        }
        
        .desktop-nav {
            display: none;
        } 
        
        .svg {
            display: none;
        }
        
        .st1 {
            display: none;
        }
        
        .st0 {
            display: none;
        }
}
